[submodule "src/llama.cpp"]
	path = src/llama.cpp
	url = https://github.com/sanghyun-snu/llama.cpp.git
[submodule "src/powerinfer"]
	path = src/powerinfer
	url = https://github.com/sanghyun-snu/PowerInfer.git
[submodule "src/ggml"]
	path = src/ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "src/lz4"]
	path = src/lz4
	url = https://github.com/lz4/lz4.git
